* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #0f172a;
color: #f8fafc;
line-height: 1.6;
}

header {
background-color: #1e293b;
padding: 18px 25px;
display: flex;
justify-content: space-between;
align-items: center;
}

header h1 {
font-size: 24px;
}

nav ul {
list-style: none;
}

nav li {
display: inline-block;
margin-left: 18px;
}

nav a {
text-decoration: none;
color: #f8fafc;
font-weight: bold;
transition: color 0.3s;
}

nav a:hover {
color: #2563eb;
}

.hero {
background-image: url("../images/hero.jpg");
background-size: cover;
background-position: center;
text-align: center;
padding: 120px 20px;
}

.hero h2 {
font-size: 42px;
margin-bottom: 10px;
}

.hero p {
font-size: 18px;
}

main section {
max-width: 1000px;
margin: auto;
padding: 40px 20px;
}

.about p {
margin-top: 15px;
}

.featured-cars {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 25px;
margin-top: 25px;
}

.car-card {
background-color: #1e293b;
width: 260px;
border-radius: 10px;
padding: 15px;
text-align: center;
transition: transform 0.25s, box-shadow 0.25s;
}

.car-card:hover {
transform: translateY(-5px);
box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.car-card img {
width: 100%;
border-radius: 8px;
margin-bottom: 10px;
}

.price {
color: #2563eb;
font-size: 20px;
font-weight: bold;
margin-top: 8px;
}

.contact p, h2{
text-align: center;
margin-top: 8px;
}

footer {
background-color: #1e293b;
text-align: center;
padding: 20px;
margin-top: 40px;
}

footer a {
color: #2563eb;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}

@media (max-width: 768px) {


header {
    flex-direction: column;
    gap: 10px;
}

nav li {
    display: block;
    margin: 8px 0;
    text-align: center;
}

.hero {
    padding: 80px 15px;
}

.hero h2 {
    font-size: 28px;
}

.featured-cars {
    flex-direction: column;
    align-items: center;
}

}

.filters {
margin: 20px 0;
text-align: center;
}

.filters button {
background-color: #2563eb;
border: none;
color: white;
padding: 10px 15px;
margin: 5px;
border-radius: 6px;
cursor: pointer;
}

.filters button {
background-color: #1d4ed8;
}